<% if model.errors.any? %>
  <div class="alert alert-danger">
    <strong><%= pluralize(model.errors.count, "error") %> prohibited this form from being saved:</strong>

    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>