<div class="calendar">
  <h2 class="calendar__headline"><%= "#{@month.month_i} / #{@month.year_i}" %></h2>

  <div class="calendar__header">
    <% (0..6).each do |weekday| %>
      <div class="calendar__weekday">
          <%= %w{Mo Di Mi Do Fr Sa So}[weekday] %>
      </div>
    <% end %>
  </div>

  <% @month.weeks.each do |days| %>
    <div class="calendar__week">
      <% days.each do |day| %>
        <div class="calendar__day <%= @month.contains?(day) ? '' : 'calendar__day--interfering' %>">
          <div class="calendar__day__text">
            <%= day.date.strftime('%e') %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
