$gray: #e6e6e6;

body {
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

table {
  td {
    &.action {
      width: 30px;
    }
  }
}

.field_with_errors {
  display: inline;
}

.calendar {
  margin-bottom: 30px;

  &__headline {
    text-align: center;
    margin-bottom: 40px;
  }

  &__week,
  &__header {
    display: flex;
    flex-direction: row;
  }

  &__weekday {
    flex: 1 1 100%;
    text-align: center;
  }

  &__day {
    flex: 1 1 100%;
    text-align: center;
    min-height: #{(30)}vw;
    margin: #{(0.5)}vw;
    display: flex;
    flex-direction: column;

    &--today {
      //background: darken($gray, 10);
    }

    &__text {
      margin: 30px 0;
      padding-bottom: 10px;
      font-size: #{(2)}vw;
      border-bottom: 1px solid black;
    }

    &__meal {
      background: $gray;
      padding: 5px;
      margin-bottom: 10px;
      &__link {
        padding: 10px 0;
        display: block;
        font-size: 1.2em;
      }

      &__actions {
        opacity: 0.5;
      }
    }
  }
}